<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Eventos App</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"/>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>



    <nav class="navbar navbar-expand-lg navbar-dark  fixed-top" style="background-color: #2f39ea;">
        <a class="navbar-brand" href="#">
            <img src="~/Content/Img/logoeventos app.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Eventos App
        </a>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index","Home")">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("About","Home")">Acerca de</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Contact","Home")">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Events")">Eventos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Cities")">Ciudades</a>
                </li>



            </ul>
        </div>
    </nav>
    

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - By Gerardo Leon</p>
        </footer>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
