@model Eventos.Models.Event

@{
    ViewBag.Title = "Edit";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal col-md-5">
        <h2 class="display-4">Editar</h2>
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        <label for="" class="col-md-5 col-form-label">Titulo</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-md-5 col-form-label">Lugar</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Place, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Place, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-md-5 col-form-label">Tipo de evento</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.TypeEvent, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TypeEvent, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-md-5 col-form-label">Dia del evento</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.DayEvent, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DayEvent, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-md-5 col-form-label">Capacidad</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Capacity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Capacity, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-warning text-white" />        
            <a href="@Url.Action("Index", "Events")" class=" text-white btn btn-danger" style="margin-left:20px;">Regresar</a>

        </div> 
    </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
